/*----- BASE -----*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*----- ROOT -----*/
:root {
    --hue: 81;
    
    --color: rgb(var(--hue), 16, 134);
    --dark-color: rgb(calc(var(--hue) - 1), 8, 80);
    --background-principal: rgb(235, 217, 247);
    --background-footer: rgb(201, 129, 235);
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: var(--background-principal);
    color: var(--color);
    box-sizing: border-box;
}

/*----- SCROOL -----*/
::-webkit-scrollbar {
    width: 1.6rem;
}

::-webkit-scrollbar-track {
    background: var(--color);
}

::-webkit-scrollbar-thumb {
    background: var(--background-footer);
    border-radius: 1.8rem;
}