/*----- PRODUTOS -----*/
.container #produtos {
    display: flex;
    flex-direction: column;
}

/*----- RESPONSIVO -----*/
@media screen and (min-width: 0) {
    .container #produtos {
        margin: 4rem;
    }
}

@media screen and (min-width: 768px) {
    .container #produtos {
        margin: 5rem 7rem;
    }
}

@media screen and (min-width: 1024px) {
    .container #produtos {
        margin: 6.4rem 15.2rem;
    }    
}
