/*----- FOOTER LINKS -----*/
.rodape__links {
    display: flex;   
    flex-direction: column;
    font-size: 2.4rem;
    font-weight: bold;
    justify-content: space-between;
    line-height: 3rem;
    width: 17.6rem;
}

/*----- RESPONSIVO -----*/
@media screen and (min-width: 0) {
    .rodape__links {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .rodape__links {
        text-align: start;
    }
}