/*----- NAV LOGIN -----*/
.nav__login {
    background: linear-gradient(130deg, var(--background), var(--background-footer));
    border: 1px groove var(--color);
    border-radius: 0.5rem;

    color: var(--dark-color);
    cursor: pointer;
    font-size: 1.6rem;
    
    font-weight: bold;
    height: 4rem;
    width: 15rem;
}