/*------ NAV BANNER -----*/
.cabecalho__banner {
    margin-bottom: 6.4rem;
    position: relative;
}

.banner__img {
    height: 35rem;
    width: 100%;
}

/*----- RESPONSIVO -----*/
@media screen and (min-width: 1500px) {
    .banner__img {
        height: 50vh;
    }
}