/*----- SEARCH -----*/
.nav__search {
    background: url(../search.svg) no-repeat 1rem/2rem;
    border: 1px outset var(--color);

    border-radius: 50%;
    box-shadow: 2px 2px 10px 0 var(--color);

    cursor: pointer;
    height: 4rem;

    padding-left: 4rem;
    transition-duration: 300ms;

    transition-property: width, border-radius, box-shadow;
    width: 4rem;
}

.nav__search:focus {
    border-radius: 20px;
    box-shadow: none;
    cursor: auto;

    font-size: 1.8rem;
    gap: .8rem;
    height: 4rem;
    
    outline: none;
    padding: 0 5rem;
    width: 39.3rem;
}

.nav__search::placeholder {
    color: var(--color);
    font: 1.5rem / bold;
}
