/*----- TEXTO DO BANNER -----*/
.banner__texto {
    font-family: 'Style Script', cursive;
    font-size: 6rem;
    font-style: italic;

    letter-spacing: 1rem;
    margin: -13rem 0 0 5rem;
    position: relative;
}