/*----- FOOTER -----*/
#rodape {
    display: flex;
    flex-direction: column;
}

.rodape__principal {
    background: var(--background-footer);
    display: flex;
    height: 36rem;
    
    justify-content: space-between;
    padding: 6.4rem 15.2rem;
    width: 100%;
}