/*----- FOOTER FORMULARIO BTN-----*/
.form__btn {
    border-radius: 0.5rem;
    
    color: var(--color);
    font-size: 1.5rem;
    font-weight: bold;

    height: 3rem;
    margin-top: 0.8rem;
    text-align: center;
}

.form__btn:hover {
    background: var(--color);
    box-shadow: 2px 2px 5px 0 var(--color);
    color: var(--background);
    font-size: 2rem;

    height: 4rem;
    letter-spacing: 0.2rem;  
    margin-top: 0.8rem;
    opacity: 0.8;
}

/*----- RESPONSIVO -----*/
@media screen and (min-width: 0) {
    .form__btn {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .form__btn {
        width: 30%;
    }
}