/*----- RESET -----*/
* {
    border: none;
    box-sizing: border-box;
    
    font-size: 62.5%;
    list-style: none;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    text-decoration: none;
}