/*----- BASE -----*/

/*----- FONTES -----*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/*----- ROOT -----*/
:root {
    --hue: 81;
    
    --color: rgb(var(--hue), 16, 134);
    --dark-color: rgb(calc(var(--hue) - 1), 8, 80);
    --background: rgb(calc(var(--hue) + 154), 217, 247);
    --background-footer: rgb(calc(var(--hue) + 120), 129, 235);
}

html,
body {
    background: var(--background);
    color: var(--color);
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    width: 100vw;
}

/*----- SCROOL -----*/
::-webkit-scrollbar {
    width: 1.6rem;
}

::-webkit-scrollbar-thumb {
    background: var(--background-footer);
    border-radius: 1.8rem;
}

::-webkit-scrollbar-track {
    background: var(--color);
}